.coment {
  display: flex;
  flex-direction: column;
}

.coment-text1 {
  /* width: 328px;
  height: 195px; */
  margin-top: 54px;
  margin-bottom: 24px;
  margin-left: 0px;
  margin-right: 0px;
}

.coment-text1 p {
  font: var(--fontBase);
  font-weight: 400px;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
}

.coment-text2 {
  /* width: 328px;
  height: 78px; */
  font: var(--headline5);
  text-align: center;
  margin-bottom: 24px;
}

.coment-img {
  margin-bottom: 40px;
  text-align: center;
}

/* .proyect1 {
  text-align: center      ;
}

.proyect1 img {
  height: auto;
  width: 90%;
} */

@media screen and (min-width: 768px) {
  .coment-text1 {
    margin: 0px 70px;
    margin-top: 200px;

  }

  .coment-text1 p {
    font-size: 34px;
    font-weight: 300px;
  }

  /* .proyect1 img {
    /* width: 950px;
    height: 390px; */
    /* width: 90%;
  }*/

}